/* Primary theme color */
.color-all-theme-primary {
    background-color: #539A7F;
    border: #539A7F
}

.color-text-theme-primary {
    color: #539A7F;
}

.color-background-theme-primary {
    background-color: #539A7F;
}

.color-border-theme-primary {
    border: #539A7F
}

/* Secondary theme color */
.color-all-theme-secondary {
    background-color: #4276AB;
    border: #4276AB
}

.color-text-theme-secondary {
    color: #4276AB;
}

.color-background-theme-secondary {
    background-color: #4276AB;
}

.color-border-theme-secondary {
    border: #4276AB
}

/* White */
.color-all-white {
    background-color: #ffffff;
    border: #ffffff
}

.color-text-white {
    color: #ffffff;
}

.color-background-white {
    background-color: #ffffff;
}

.color-border-white {
    border: #ffffff
}

/* Black */
.color-all-black {
    background-color: #000000;
    border: #000000
}

.color-text-black {
    color: #000000;
}

.color-background-black {
    background-color: #000000;
}

.color-border-black {
    border: #000000
}
