@media screen and (max-width: 767px) {}

html {
    /* scrolls smoothly to links instead of jumping straight there */
    scroll-behavior: smooth;
    /* this offsets for the menu when clicking on link to an anchor */
    scroll-padding-top: 56px;
}

/* varying shadows to make objects appear 3D etc. */
.shadow-nav {
    box-shadow: 0px 2px 2px dimgray;
}

.shadow {
    box-shadow: 3px 3px 6px gray;
}

.shadow-lg {
    box-shadow: 4px 4px 8px gray;
}

.shadow-sm {
    box-shadow: 2px 2px 4px gray;
}

/* space out sections of content for cleaner look */
.margin-above-below {
    margin-top: 100px;
    margin-bottom: 100px;
}

/* remove gray card border from contact info for cleaner look */
.invisible-card {
    border: none;
}

/* Used to align the contact title with the contact buttons */
#contact-title {
    padding-left: 12px;
}

.padding-0 {
    padding: 0;
}

/* make it invisible initially */
.navbar-brand {
    visibility: hidden;
}