.shadow-nav {
    box-shadow: 0px 3px 6px dimgray;
}

.shadow {
    box-shadow: 3px 3px 6px gray;
}

.shadow-lg {
    box-shadow: 4px 4px 8px gray;
}

.shadow-sm {
    box-shadow: 2px 2px 4px gray;
}
