@media screen and (max-width: 600px) {

}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 56px; /* height of sticky header */
}

.shadow-nav {
    box-shadow: 0px 2px 2px dimgray;
}

.shadow {
    box-shadow: 3px 3px 6px gray;
}

.shadow-lg {
    box-shadow: 4px 4px 8px gray;
}

.shadow-sm {
    box-shadow: 2px 2px 4px gray;
}

.margin-above-below {
    margin-top: 100px;
    margin-bottom: 100px;
}

.invisible-card {
    border: none;
}

#contact-title {
    padding-left: 12px;
}

.padding-0 {
    padding: 0;
}